<!-----
	Final Project
	Author: Yunsung Choi
	Date: 06/01/2020


----!>



@font-face {
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

/* Multimedia control styles */
audio {
         background-color: black;
         display: block;
         margin: 5px auto;
	 text-align: center;
         width: 95%%;
}

*{
	margin: 0;
	padding: 0;
	


}

section {
	width: 100%;
	height: 900px;
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
    

}
/* Nav */
nav {
	
	float: center;
     text-align: center;
    position:relative;
    margin:auto;
    
    
}

ul li {
	display: inline;
	font-size: 20px;
	font-family: 'Shadows Into Light', cursive;
	color: black;	
}

ul li a{
	display: inline-block;
	padding: 5px;
	text-decoration: none;
	color: #ffffff;
}

ul li a:hover {
	background-color: #a3a3c2
}


/* Body */
.caption {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;

}

.caption span.border {
  
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 25px;
}

.des {

color: black;
background-color:white;
text-align:center;
padding:30px 120px;
text-align: justify;
}

.border {

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.bottom {
	position: absolute;
	top: 90%;
  	width: 100%;
	color: white;

}

table {
    
    text-align: center;
    width: 100%;
   
}

p {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

/* BACKGROUND Colors */
#edu{
    background-color:darkgoldenrod;
}

#qua{
    background-color:firebrick;
}
#maj{
    background-color:darkslateblue;
}

#cont{
    background-color:azure;
}
/*background styles */
#edu,#qua,#maj,#cont {
	background-size: cover;
	background-repeat:no-repeat;
	background-attachment: fixed;

}